@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header{
  background-color: #bababac1;
}
.logo__image{
  width: 42px;
}
.header__els {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  height: 80px;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  max-width: 1200px;
}

.logo {
  display: flex;
  gap: 5px;
  color: rgb(75, 40, 40);

}

.logo a{
  color: rgb(75, 40, 40);

  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  
}

.logo_lower{
  font-size: 13px;
  font-weight: 700;

}
.logo a:hover{
  color: rgb(71, 71, 71)
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}


.auth a, .auth button {
  margin-left: 10px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}


.auth button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  color: white;
  background-color:  rgb(100, 53, 53);;
  border-radius: 5px;
}

.auth a:hover,  nav a:hover{
  text-decoration: underline;
}

.auth button:hover{
  background-color:  rgb(75, 40, 40);

}